.upload-file-activity {
	margin: 15px;
}

.upload-file-activity > a {
	position: relative;
	padding: 15px 30px 15px 30px;
}

.input-image {
	float: left;
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}