header .navbar {
	background-color: #05293a;
	padding: 20px 0;
	box-shadow: 0px 0px 40px black;
	border: 0;
}

.navbar-nav a {
	color: white;
}

header .clear {
	height: 90px;
}

p {
	word-wrap: break-word;
}

#home {
	background-image: url("../icon/logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	margin: auto 10px;
}

i {
	color: #30aee8;
}

.input-group-addon {
	width: 40px !important;
}

.navbar-nav > li > a, .fix-on-top > li > a {
	background-color: #05293a !important;
	color: white !important;
	font-weight: bold;
}

.navbar-nav > li > a:FOCUS, .navbar-nav > li > a:HOVER, .fix-on-top > li > a:HOVER, .fix-on-top > li > a:FOCUS {
	background-color: #05293a !important;
	color: #30aee8 !important;
	border-color: #05293a !important;
}

.navbar-form {
    margin-right: 0  !important;
    margin-left: 0  !important;
}

.dropdown-menu a:HOVER {
	color: #30aee8 !important;
}

.navbar-nav>li>.dropdown-menu, .fix-on-top > li >.dropdown-menu {
	margin-top: 20px !important;
	border: 0 !important;
	border-radius: 4px !important;
}

.btn-default {
	background-color: #30aee8 !important;
	color: white !important;
	font-weight: bold !important;
}

.btn-default:HOVER, .btn-default:FOCUS{
	background-color: #19a5e6 !important;
}

#btn-add-event,
.btn-default {
    border: 1px solid #30aee8 !important;
}

#btn-add-event {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
}

@media screen and (max-width: 768px) {
	#btn-add-event {
	    top: auto !important;
	    bottom: 10%;
    	left: 0;
	}
}

@media screen and (min-width: 768px){
	.modal-dialog {
	    width: 500px !important;
	}
}

@media screen and (max-width: 1100px) {
	#btn-add-event {
	    position: fixed;
		top: 50%;
	    right: 0;
	    margin-bottom: 0;
	    z-index: 1030;
	}
}

@media screen and (max-width: 930px) {
	
	#location {
		display: none;
	}
	
	.toggle-close {
		display: none;
	}
}

.clear {
	clear: inherit;
}

.center {
	margin: auto !important;
	display: flex !important;
}

.login-logout-content {
	margin: 10px 50px !important;
}

.modal-body .input-group {
	margin: 10px auto !important;
}

.nav a {
	color: #30aee8 !important;
}

.nav .active a {
	background-color: #30aee8 !important;
	color: white !important;
}

.btn-submit {
	margin-top: 20px;
}

.float-left {
	float: left !important;
}

.fix-on-top {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
}

.fix-on-top > li{
    list-style-type: none;
    position: relative;
    float: left !important;
}

.fix-on-top > li > a {
	text-decoration: none;
	padding: 15px 15px;
    position: relative;
    display: block;
}

.fix-on-top > li > form {
	padding: 7.5px 15px;
}

.display-none {
	display: none;
}