.carousel-inner .item img {
	width: 100%;
	margin: auto;
	oject-fit: cover;
	z-index: 1;
}

.hot-title {
	padding: 15px 0px 10px 0px;
	text-align: center;
	font-size: 24pt;
}

.event-container {
	background-color:#e6e6e6;
	padding-bottom: 30px;
	width: 100%;
}

.event-element {
	width: 60% !important;
	margin: auto !important;
}

.event-fix {
	margin-top: 30px;
}

@media screen and (max-width: 767px) {
	.event-element {
		width: 100% !important;
		padding: 10px 0px 0px 0px !important;
		margin: auto;
	}
	.col-sm-6 {
		padding: 20px 0px 0px 0px !important;
	}
	.hot-title {
		padding: 15px 0px -5px 0px;
		text-align: center;
		font-size: 18pt;
	}
	.event-fix {
		margin-top: 5px;
	}
	.event-cgb-element{
	width: 100% !important;
	margin: auto;
	}
}

@media screen and (max-width: 1200px) {
	.event-element {
		width: 99% !important;
		padding: 10px 0px 0px 0px !important;
		margin: auto;
	}
	.event-cgb-element{
	width: 80% !important;
	margin: auto;
}
}

.event-child {
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	box-shadow: 1px 1px 3px black;
}

.event-child img {
	object-fit: cover;
	width: 100%;
}

.event-detail {
	padding: 10px;
}

.event-price {
	margin: 10px 0px 5px 0px;
}

.event-action {
	display: table;
	position: relative;
	width: 100%;
}

.event-location {
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	text-align: center;
	padding: 0px 5px 0px 5px;
	width: 110px;
}

.event-category {
	padding: 0px 10px 0px 10px;
	width: 100px;
	box-sizing: border-box;
}

.event-infor {
	position: relative;
	width: 100%;
}
.event-title{
	font-size: 14pt;
	font-weight: bold;
}

.ribbon-wrapper {
  width: 55px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  right: 3px;
  box-shadow: 0px 2px 1px #1a1a1a;
}
.ribbon-month{
	width: 100%;
	height: 15px;
	font-size: 7pt;
	color: white;
	background: red;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 2px;
}

.ribbon-date{
	width: 100%;
	height: 25px;
	font-size: 14pt;
	color: gray;
	text-align: center;
	font-weight: bold;
	margin: auto;
	padding: 5px;
}

.ribbon-dayofweek{
	width: 100%;
	height: 15px;
	font-size: 7pt;
	color: gray;
	text-align: center;
	margin: auto;
	padding: 3px;
}
.event-category-bar{
	background-color:#e6e6e6;
	padding: 30px;
	width: 100%;
}

.event-cgb-element{
	width: 60%;
	margin: auto;
}
.center-position{
	vertical-align: middle !important;
	text-align: center !important;
}
.center-position a{
	text-decoration: none !important;
	color: gray !important;
}
.center-position img{
	object-fit: cover !important;
}

@media screen and (max-width: 900px) {
	.center-position img{
	width: 180px !important;
	height: 180px !important;
}
}
}
.event-link{
	width: 30%;
	margin: 5px auto 0px auto;
	padding: -2px;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	text-align: center;
}

.event-category-title{
	margin-top: 15px;
	font-size: 14pt;
	font-weight: bold;
}