article {
	padding-bottom: 40px;
}

.banner {
	background-repeat: no-repeat;
	background-size: cover;
}

.banner > figure{
	width: 600px;
	margin: auto;
	padding: 50px;
}

.banner > h3,
.banner > h4 {
	text-align: center;
	color: white;
	padding-bottom: 40px;
}

.img-cover {
	object-fit: cover;
	width: 100%;
}

.content {
	width: 80%;
	margin: auto;
}

section h1 {
	text-align: center;
	padding-bottom: 40px;
}

.content-description {
	box-shadow: 0px 0px 40px black;
	overflow: auto;
}

.content-description p {
	color: white;
	text-align: justify;
}

.content-description span {
	font-size: 16px;
	margin: 10px auto;
}

.content-description > div {
	padding: 10px;
}

i[class*="quote"] {
	font-size: 30px !important;
	color: white !important;
	padding: 20px;
}
