.container-study-theme{
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
}

.cus-input-group-addon-theme-study {
	width: 20%;
}

.cus-form-control-theme-study {
	width: 80%;
}

.cus-event-info-theme-study,
.cus-input-group-theme-study {
	padding-top: 10px;
	width: 100%;
}

.add-course,
.add-teacher {
	margin: 20px auto;
}

.add-course > a,
.add-teacher > a {
	padding: 15px 30px 15px 30px;
}

.divider {
	margin: 0;
	border-top: 2px solid white;
}

.input-image {
	float: left;
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.contain-content {
	background-color: #e6e6e6;
	margin: auto 15px;
	overflow: auto;
	box-shadow: 0px 0px 10px #bfbfbf;
}

.img-container-1500x500 {
  width: 540px;
  height: 180px;
  margin: auto;
}

.img-container-1500x500 img {
  width: 100%;
  height: 100%;
}

.img-container-1500x600 {
  width: 550px;
  height: 220px;
  margin: auto;
}

.img-container-1500x600 img {
  width: 100%;
  height: 100%;
}

.add-speaker {
	margin: 20px auto;
}

.add-speaker > a {
	padding: 15px 30px 15px 30px;
}

#output-speaker-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#contain-speaker-image {
	height: 250px;
	padding: 20px 15px 10px 15px;
}