.upload-file-free-style {
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}

.clear {
    clear: both;
}

.upload-file-free-style > a {
	position: relative;
	padding: 10px 20px 10px 20px;
}

.input-image {
	float: left;
	position: absolute;
	top: 0;
    left: 0;
}

.disabled,
.disabled:HOVER,
.disabled:ACTIVE,
.disabled:FOCUS {
	background-color: #e6e6e6 !important;
}