.upload-file-music {
	margin: 15px;
}

.upload-file-music > a {
	position: relative;
	padding: 15px 30px 15px 30px;
}

.input-image {
	float: left;
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.add-famous-person {
	margin: 20px auto;
}

.add-famous-person > a {
	padding: 15px 30px 15px 30px;
}

.divider {
	margin: 0;
	border-top: 2px solid white;
}

.cus-input-group-addon-theme-music {
	width: 20%;
}

.cus-form-control-theme-music {
	width: 80%;
}

.cus-event-info-theme-music,
.cus-input-group-theme-music {
	padding-top: 10px;
	width: 100%;
}